* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  font-weight: 400;
}

.toolbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid lightgray;
  background-color: white;
  padding: 0.5em;
  z-index: 1;
  box-shadow: 0 1px 3px 0 lightgray;
}

@media print {
  .toolbar {
    display: none;
  }
}

.toolbar > .title {
  outline: 0;
}

.toolbar > button {
  min-width: 2rem;
  border: 1px solid deepskyblue;
  background-color: white;
  margin-bottom: 0.25em;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: deepskyblue;
}

.toolbar > button:hover {
  background-color: deepskyblue;
  color: white;
}

.toolbar > button:active {
  background-color: white;
  color: deepskyblue;
}

.scene::after,
.heading::after,
.action::after,
.dialog::after,
.character::after {
  position: absolute;
  margin-top: -2px;
  display: block;
  font-size: 9px;
  color: gray;
  z-index: -1;
}
.scene:empty::after,
.heading:empty::after,
.action:empty::after,
.dialog:empty::after,
.character:empty::after {
  margin-top: 3px;
}

.scene {
  position: relative;
  margin: 1em auto;
  width: 500px;
  padding: 0.5em 0;
}

.heading {
  text-transform: uppercase;
  margin: 0.5em 1em 1em;
  outline: none;
}
.heading:empty::after {
  content: 'SCENE HEADING BLOCK';
}
.heading:not(:empty):focus::after {
  content: '(ENTER KEY ADD ACTION BLOCK)';
}

.action {
  margin: 0.5em 1em 1em;
}
.action:focus {
  outline: none;
}
.action:not(:empty):focus::after {
  content: '(ENTER KEY ADD ACTION BLOCK)';
}
.action:empty::after {
  content: 'ACTION BLOCK (ENTER KEY CHANGE TO CHARACTER BLOCK)';
}
.action:last-child {
  margin-bottom: 0.5em;
}

.character {
  text-transform: uppercase;
  margin: 1.25em 0 0.5em 14em;
  outline: none;
}
.character:last-child {
  margin-bottom: 0.5em;
}
.character:not(:empty):focus::after {
  content: '(ENTER KEY ADD DIALOG BLOCK)';
}
.character:empty::after {
  content: 'CHARACTER BLOCK (ENTER KEY CHANGE TO ACTION BLOCK)';
}
.character:last-child {
  margin-bottom: 0.5em;
}

.dialog {
  margin: 0 10em 1em 8em;
  outline: none;
}
.dialog:not(:empty):focus::after {
  content: '(ENTER KEY ADD CHARACTER BLOCK)';
}
.dialog:empty::after {
  content: 'DIALOG BLOCK (ENTER KEY CHANGE TO ACTION BLOCK)';
}
.dialog:last-child {
  margin-bottom: 0.5em;
}

.toolbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: white;
  padding: 0.5em;
  margin-top: -4px;
  margin-left: 5px;
  box-shadow: 0 1px 3px 1px lightgray;
  border-radius: 5px;
  z-index: 1;
}
.toolbox.collapsed {
  background-color: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.toolbox .title {
  font-size: 10px;
  color: gray;
  margin-bottom: 0.25em;
}
.toolbox .title:not(:first-child) {
  margin-top: 0.5em;
}
.toolbox > button {
  width: 100%;
  border: 1px solid deepskyblue;
  background-color: white;
  margin-bottom: 0.25em;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: deepskyblue;
}
.toolbox > button:hover {
  background-color: deepskyblue;
  color: white;
}
.toolbox > button.delete {
  border: 1px solid orangered;
  background-color: white;
  color: orangered;
  margin-top: 0.5em;
}
.toolbox > button.delete:hover {
  background-color: orangered;
  color: white;
}
.toolbox > button.collapse {
  width: 20px;
  margin-left: auto;
}
.toolbox > button:active {
  background-color: white;
  color: deepskyblue;
}
.toolbox > button.delete:active {
  background-color: white;
  color: orangered;
}
.toolbox > button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.toolbox > button:last-child {
  margin-bottom: 0;
}
